
 
 body {background-image: url('image/bg2.jpg');}
  #wrap {border:1px solid #708090 box-shadow: 0px 16px 10px 0px rgba(0,0,0,0.6); height:1080px; width:1020px; margin:auto;}


#middle2
{
border:2px solid #9ec9cf; 
border-radius:05px; 
font-family:Arial, Helvetica, sans-serif; 
padding:10px; 
height:160px; 
width:400px; 
margin:5px; 
float:left;
}
  


.button {
  background-color: #9ec9cf; /* Green */
  border: none;
  color: blue; /* white */
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #9ec9cf;
}
.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #9ec9cf;
}

.button1:hover {
  background-color: #9ec9cf;
  color: blue;
}

.button2:hover {
  background-color: #9ec9cf;
  color: white;
}

.button1 {width: 280px; height: 81px;}

.button2 {width: 420px; height: 80px; box-shadow: 3px 3px 4px grey;}

.button1 {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2), 0 2px 5px 0 rgba(0,0,0,0.19);

}
p {
  border: 2px solid #c01700;
  padding: 2%;
}


